/* ______________________________ ORDEN DE CHAT ______________________________ */


/* _____________________________ BOTONES Y ANIMACIONES _____________________________ */

.ResetButton{
    padding: 20px;
    color: white;
    border: 2px solid white;
    font-size: 110%;
    background-color: rgb(173, 37, 0);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    transition: padding 0.25s;
    font-family: "Baloo Bhaina";
}
button:focus{outline: 0;}

.ResetButton:hover{
    padding: 20px 40px 20px 40px;
}

.SendButton{
    padding: 20px;
    color: white;
    border: 2px solid white;
    font-size: 110%;
    background-color: rgb(173, 37, 0);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    transition: padding 0.25s;
    font-family: "Baloo Bhaina";
}
button:focus{outline: 0;}

.SendButton:hover{
    padding: 20px 40px 20px 40px;
}

#chatover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* CENTRA EL DIV, HORIZONTAL Y VERTICALMENTE */
    width: 100vw;
    font-family: "Baloo Bhaina";
    font-size: 10vh;
    text-align: center;
    color: white;
}

/* _______________________________________ CUERPO Y ENCABEZADO _______________________________________ */

body{
    background: -webkit-linear-gradient(#35c635, rgb(52, 140, 40), #10691c);
    font-family: "Baloo Bhaina";
}

#encabezado{
    height: 20vh;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
}
#encabezado>img{
    max-width: 100%;
    max-height: 100%;
}

@font-face{
    font-family: Halo;
    src: url(Resource/Halo.ttf);
}

/* __________________________________________ PIE DE PAGINA __________________________________________ */

.pie-de-pagina{
    color: white;
    font-family: "Baloo Bhaina";
    font-size: 17px;
    padding: 40px;
    background-image: url(https://github.com/Rodas171315/Informatica_2-DylanR-Connect_4/blob/master/Connect-4/Resource/navbar.png?raw=true);
    background-size: 100% 100%;

    border-top: 20px solid white;
    -webkit-border-image: url(?raw=true)60 round; /*Safari*/
    -o-border-image: url(?raw=true)60 round; /*Opera*/
    border-image: url(?raw=true) 60 round;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    margin-top: 20px;
}

.copyright{
    display: inline-block;
    padding: 10px;
}

#mylogo{
    margin-bottom: 4%;
}
